<ion-header>
  <ion-toolbar>
    <ion-title>Compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="user$ | async as user">
    <ion-label>Email: </ion-label>
    <ion-badge>{{user.email}}</ion-badge>
  </ion-item>
  <ion-item *ngIf="user$ | async as user">
    <ion-label>Nom Usuari: </ion-label>
    <ion-badge>{{user.displayName}}</ion-badge>
  </ion-item>
  <ion-item *ngIf="user$ | async as user">
    <ion-label>Email Verificat: </ion-label>
    <ion-badge>{{user.emailVerified}}</ion-badge>
  </ion-item>
  <ion-item *ngIf="user$ | async as user">
    <ion-label>UID: </ion-label>
    <ion-badge>{{user.uid}}</ion-badge>
  </ion-item>
  <ion-item *ngIf="user$ | async as user">
    <ion-label>Telefon: </ion-label>
    <ion-badge>{{user.phoneNumber}}</ion-badge>
  </ion-item>
  <ion-item *ngIf="user$ | async as user">
    <ion-label>Proveidor: </ion-label>
    <ion-badge>{{user.providerId}}</ion-badge>
  </ion-item>
  <ion-button expand="block" color="danger" (click)="logOut()">Logout</ion-button>
</ion-content>
