<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="games">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Jocs</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="inici">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inici</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Compte</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>