<ion-card>
  <ion-card-header>
    <ion-card-subtitle>TESTS</ion-card-subtitle>
    <ion-card-title class="centrat">REACTION TIME TEST</ion-card-title>
  </ion-card-header>
  
  <ion-card-content fullscreen>
    <p class="text">Una vegada li hagis fet clic al botó es posara de color vermell, quan es posi verd fes clic l'ho abans posible i et direm el teu temps de reacció</p>
    <ion-button #boto (click)="reaccio(boto)" color="primary" expand="block">CLIC PER COMENÇAR</ion-button>
  </ion-card-content>
</ion-card>
