<ion-header>
  <ion-toolbar>
    <ion-title>Inici</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img class="imatge" src="https://ideofilia.files.wordpress.com/2016/10/brain-training.jpg?w=640"/>
    <ion-card-header>
      <ion-card-subtitle>JOCS</ion-card-subtitle>
      <ion-card-title>Els nostres Jocs</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Disposem de alguns jocs capaços de fer-te millorar en diferents camps, com per exemple; el temps de reaccio, la velocitat d'escriptura, etc.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
