<ion-header>
  <ion-toolbar>
    <ion-title>Inici</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img class="imatge" src="https://lh3.googleusercontent.com/proxy/-ReskWkav0P6Ot_UV8l87XJcrA2Xli9sTNkTYFfd9_4oa2dTeTfjTr1V8i5T9I-3Upvw_ufm-_if0_g7j-P8hW2V28QgTtDmdY6AbyG1vFQKPVxMPhGgzOQ"/>
    <ion-card-header>
      <ion-card-subtitle>JOCS</ion-card-subtitle>
      <ion-card-title>Els nostres Jocs</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Disposem de alguns jocs capaços de fer-te millorar en diferents camps, com per exemple; el temps de reaccio, la velocitat d'escriptura, etc.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
